*{
margin: 5px;  
font-family: Arial, Helvetica, sans-serif;  
background-color: white;
}

.nav1{ 
display: flex;    
text-decoration: none;
font-size: 18px;
justify-content: center;
margin-top: 4px;
}

.headertext{
font-size: 14px;    
text-align: center;
}

.FrontendDeveloper{
font-size: 30px;    
font-family: cursive;    
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
}

ul{
list-style-type: none;    
}

.Projects{
border: 1px solid black;
}

.WorkExperience{
margin-left: 20px;
border: 1px solid black;
}

.Education{
margin-left: 20px; 
border: 1px solid black;   
}

.div33{  
display: flex;
border: 2px solid black;    
justify-content: center;
}

.logo{
display: flex; 
margin-top: 4px;   
}

footer{
text-align: center;   
font-size: 20px; 
}

header{
border: 2px solid black;   
margin-bottom: 5px; 
}

.reviewofmyteachers{
display: flex; 

}

.ReviewsfrommyTeachers{
margin-bottom: 30px;   
border: 2px solid black; 
}